---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1379702709507,"vid":189912,"canonical-vid":189912,"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPBL6Udxg6nOzX1w_918Pv4zY4Q6Yth--G1D4YyNA472a0bIS0jkrC4E-HqXo53U0PUewhb9hF9geI4QMmOdVvdQFBEd2qT7EnApf79MWnEpWix_63Tpp61Ca1t3ALcPa6v5GuZ","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPBL6Udxg6nOzX1w_918Pv4zY4Q6Yth--G1D4YyNA472a0bIS0jkrC4E-HqXo53U0PUewhb9hF9geI4QMmOdVvdQFBEd2qT7EnApf79MWnEpWix_63Tpp61Ca1t3ALcPa6v5GuZ/","properties":{"company":{"value":"RD"},"lastname":{"value":"silva"},"firstname":{"value":"pedro"},"lastmodifieddate":{"value":"1389192513214"}},"form-submissions":[],"identity-profiles":[{"vid":189912,"identities":[{"type":"LEAD_GUID","value":"66a53cd6-76a5-4ad6-b066-ac53212128b2","timestamp":1379702709197},{"type":"EMAIL","value":"teste@teste.com","timestamp":1389041202178}]}]},{"addedAt":1379703114375,"vid":189913,"canonical-vid":189913,"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOhsUCOS6NKuiv_R_CKOCJ1En7o1copDg19eOQs5GMZ5tqqal3eIl8HMbFGtTmo2ONFe7wXOGYtKER67nzKPE-sgqyVsoLSb2VeNY0ciJep3j2XM_0OUwxCljBt9JUaKydzaNSl","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mOhsUCOS6NKuiv_R_CKOCJ1En7o1copDg19eOQs5GMZ5tqqal3eIl8HMbFGtTmo2ONFe7wXOGYt[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?hapikey=demo121
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Looking for a valid api key paired with
        a valid portalId OR just a valid access token -- found neither. (hapikey=null,
        access_token=null, portalId=null)","requestId":"13668642-9c4e-4572-a471-09c6170533d2"}'
  recorded_at: Tue, 21 Jan 2014 17:30:26 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?hapikey=bad_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Looking for a valid api key paired with
        a valid portalId OR just a valid access token -- found neither. (hapikey=null,
        access_token=null, portalId=null)","requestId":"3ffba16a-d094-4100-a03d-e254acce8a01"}'
  recorded_at: Tue, 21 Jan 2014 17:32:42 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=20&hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1379702709507,"vid":189912,"canonical-vid":189912,"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mNuiIb[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?count=20&hapikey=bad_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Looking for a valid api key paired with
        a valid portalId OR just a valid access token -- found neither. (hapikey=null,
        access_token=null, portalId=null)","requestId":"c76e87ae-1c97-4892-aecb-16a9a321a304"}'
  recorded_at: Tue, 21 Jan 2014 18:18:27 GMT
[...]
