---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/utk/f844d2217850188692f2610c717c2e9b/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"vid":61898,"canonical-vid":61898,"portal-id":62515,"profile-token":"AO_T-mMNqz_rXIefv_l5PY2GsnICbphkrt1wuyYPTndpJnWGlNMIguthtY7dQ3hhRtrh_76CSrv-VvR242BELQKGSRhTTYV2pP-oOUkeFKnd7KfkLbd3deD-EcT8Xi0gWgJ39RbPMeG9","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mMNqz_rXIefv_l5PY2GsnICbphkrt1wuyYPTndpJnWGlNMIguthtY7dQ3hhRtrh_76CSrv-VvR242BELQKGSRhTTYV2pP-oOUkeFKnd7KfkLbd3deD-EcT8Xi0gWgJ39RbPMeG9/","properties":{"phone":{"value":"7784024899","versions":[{"value":"7784024899","source-type":"FORM","source-id":"9a0ad04cb10e462faa5ab48d656e4f5e","source-label":"Phone","timestamp":1361484447003,"selected":false},{"value":"","source-type":"FORM","source-id":"752837fcc4354d839b41e1b74d79229d","source-label":"Phone","timestamp":1358445501003,"selected":false},{"value":"7784024899","source-type":"FORM","source-id":"43e31c35c1954dd9ae7319ce624d6d1e","source-label":"Phone","timestamp":1357168954003,"selected":false},{"value":"","source-type":"FORM","source-id":"d21400c2f8c74e54ad8d44f7eab31c1b","source-label":"Phone","timestamp":1352326575003,"selected":false},{"value":"7784024899","source-type":"FORM","source-id":"e399896f2bd746b3a77638ee8e5bbe26","source-label":"Phone","timestamp":1352242517003,"selected":false}]},"hs_social_linkedin_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":null,"source-label":null,"timestamp":1345065074004,"selected":false}]},"hs_social_num_broadcast_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":null,"source-label":null,"timestamp":1348928611004,"selected":false}]},"hs_social_facebook_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":null,"source-label":null,"timestamp":1345065074004,"selected":false}]},"createdate":{"value":"1340137647000","versions":[{"value":"1340137647000","source-type":"FORM","source-id":"0f1d0d8d8d7247c2b1147e05c2ccc9fa","source-label":null,"timestamp":1340137647003,"selected":false}]},"hs_analytics_revenue":{"value":"0.0","versions":[{"value":"0.0","source-type":"ANALYTICS","source-id":null,"source-label":null,"timestamp":1357172702004,"selected":false}]},"lastname":{"value":"test","versions":[{"value":"test","source-type":"FORM","source-id":"9a0ad04cb10e462faa5ab48d656e4f5e","source-label":"LastName","timestamp":1361484447003,"selected":false},{"value":"s","source-type":"FORM","source-id":"752837fcc4354d839b41e1b74d79229d","source-label":"LastName","timestamp":1358445501003,"selected":false},{"value":"Another
        Lead!","source-type":"FORM","source-id":"2467215c8e694aefb2e39b53fd365cbc","source-label":"LastName","timestamp":1357339988003,"selected":fal[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/utk/invalid/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: '{"status":"error","message":"resource not found","guid":"345d34ef-c11d-49d4-8298-28704e565faf"}'
  recorded_at: Mon, 04 Mar 2013 02:30:09 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/all/contacts/all?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contacts":[{"addedAt":1379702709507,"vid":189912,"canonical-vid":189912,"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mPosgf1o20iD09aboSLVyBQe90iNvHeHEYbiUFYiftBzVu4IUe2BkVs3UOopGX8ES-rzKmgLD2tn01jlF9aOjuP7JHUmzu_gUumCp8BvYZM7cQQOJ5rghCZYTZPxFn7tjFQUHLY","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mPosgf1o20iD09aboSLVyBQe90iNvHeHEYbiUFYiftBzVu4IUe2BkVs3UOopGX8ES-rzKmgLD2tn01jlF9aOjuP7JHUmzu_gUumCp8BvYZM7cQQOJ5rghCZYTZPxFn7tjFQUHLY/","properties":{"company":{"value":"RD"},"lastname":{"value":"silva"},"firstname":{"value":"pedro"},"lastmodifieddate":{"value":"1389192513214"}},"form-submissions":[],"identity-profiles":[{"vid":189912,"identities":[{"type":"LEAD_GUID","value":"66a53cd6-76a5-4ad6-b066-ac53212128b2","timestamp":1379702709197},{"type":"EMAIL","value":"teste@teste.com","timestamp":1389041202178}]}]},{"addedAt":1379703114375,"vid":189913,"canonical-vid":189913,"portal-id":62515,"is-contact":true,"profile-token":"AO_T-mOmQF2K4qFyixQr-FGy4IBmm7G-qVp4Q4j-UBJ9Xfy3PcWWe5T7yR0fd2msDYa9v_8x0JNzabsjSj6ZqvNMHg2zbfOxuIJTBtkDBpelmLUGuDPIAd-TZO-vmUUIj4O8xpHaXrDr","profile-url":"https://app.hubspot.com/contacts/62515/lists/public/contact/_AO_T-mOmQ[...]
